{% extends 'layout.html' %}
{% load static %}

{% block body %}
  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Us
              </h2>
            </div>
            <p>
              The Youth and Drugs Project is a collaborative effort between the Villa Maraini Foundation (Italy), the Uruguayan Red Cross, the Thai Red Cross, the Kenyan Red Cross, the Red Crescent Society of Kyrgyzstan, and the Red Crescent Society of the Islamic Republic of Iran1. The project was developed to address the global threat of drug abuse, with a focus on young people.

                The project has three main areas of focus: capacity building activities for Red Cross and Red Crescent youth volunteers and staff, peer education in each partner country conducted by the trained volunteers, and training tools and materials on substance abuse for Red Cross and Red Crescent volunteers1.

                During the project, five youth volunteers from each partner Red Cross and Red Crescent National Society were invited to an international training course on drug addiction, harm reduction, treatment, and volunteering. This was followed by practical experience in delivering the care and rehabilitation services that are offered by Villa Maraini. By the end of the course, each delegation presented a plan of the activities that would be implemented by their National Society1.


            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static 'images/youthgroup.jpg' %}" alt="">
          </div>
        </div>

          <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static 'images/youthgroup.jpg' %}" alt="">
          </div>
        </div>

        <div class="detail-box">
          <p> The trained volunteers went back to their home countries and delivered training to local youth volunteers. Information sessions were carried out with university and school students, trainee nurses, and scouts. In addition, awareness raising and outreach activities were implemented with drug users, including through sports, street counseling, and testing for HIV, TB, or Hepatitis. In the five participating countries, more than 7,000 young people were involved in local peer education activities1.

                The Youth and Drugs Project is an excellent example of how collaboration and education can help address the problem of drug addiction. By providing young people with the knowledge and skills they need to help others, the project is making a real difference in the lives of those who are struggling with addiction.

                If you or someone you know is struggling with addiction, it’s important to seek help. There are many organizations and resources available to help you get the support you need. Remember, you are not alone, and there is always hope for recovery.</p>
        </div>

      </div>
    </div>
  </section>

  <!-- end about section -->

  {% endblock %}