{% extends 'layout.html' %}
{% load static %}


{% block body %}

 <!-- service section -->

  <section class="service_section layout_padding">
    <div class="service_container">
      <div class="container ">
        <div class="heading_container">
          <h2>
            Sponsors
          </h2>
          <p>
            Maoiro Foundation runs mostly by donations .We have lots of sponsors and here are some of them:
          </p>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/psn001.jpg' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Elena Gilbert
                </h5>
                <p>
                  Tech lead<br>
                    @Peepstack Technologies<br>
                    Elena is a trainer in one of our Technical Training institutes and she leads our beneficiaries in Tech oriented fields.
                    She has trained most of the students that go through the institution and we consider her our most influential trainer.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/psn002.jpg' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Christine Ecworth
                </h5>
                <p>
                  Founder<br>
                  Adopt the Girl Foundation<br>
                  She runs her own NGO that supports the girl child in various African countries.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/person001.jpg' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Joy Kimento
                </h5>
                <p>
                  Manager, KCB Sacco Githurai<br>
                  One of our oldest financier. She has been part of us since the beginning.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/psn003.jpg' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Jane Whiterson
                </h5>
                <p>
                  Owner , Babyline Stores.<br>
                  Jane supplies baby supplies that we issue expectant and lactating mothers in vulnerable communities.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end service section -->


  <!-- about section -->

  <section class="about_section">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Us
              </h2>
            </div>
            <p>
              The Youth and Drugs Project is a collaborative effort between the Villa Maraini Foundation (Italy), the Uruguayan Red Cross, the Thai Red Cross, the Kenyan Red Cross, the Red Crescent Society of Kyrgyzstan, and the Red Crescent Society of the Islamic Republic of Iran1. The project was developed to address the global threat of drug abuse, with a focus on young people.
                The project has three main areas of focus: capacity building activities for Red Cross and Red Crescent youth volunteers and staff, peer education in each partner country conducted by the trained volunteers, and training tools and materials on substance abuse for Red Cross and Red Crescent volunteers1.
            </p>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static 'images/hero_1_no-text.jpg' %}" alt="">
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- end about section -->

<!-- project section -->

  <section class="project_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Projects
        </h2>
      </div>
      <div class="carousel-wrap ">
        <div class="filter_box">
          <h6>
            All Projects
          </h6>
          <nav class="owl-filter-bar">
            <a href="#" class="item active" data-owl-filter="*">All</a>
            <a href="#" class="item" data-owl-filter=".painting">New Rehab Centre</a>
            <a href="#" class="item" data-owl-filter=".reconstruction">Sports sponsorship </a>
            <a href="#" class="item" data-owl-filter=".repair">Clean Water </a>
            <a href="#" class="item" data-owl-filter=".residential">Community Tournaments </a>
            <a href="#" class="item" data-owl-filter=".styling">Proposed TTI </a>
          </nav>
        </div>

        <div class="owl-carousel project_carousel">
          <div class="item painting">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'images/rehab02.jpg' %}" alt="" />
              </div>
              <div class="detail-box">
                <h5>
                  Proposed New Rehab centre
                </h5>
                <p>
                  Due to the expanding numbers of individuals being admitted to our existing rehab facility in Mwiki, we have come up
                    with a proposed new centre to be developed in Utawala.
                </p>
              </div>
            </div>
          </div>
          <div class="item reconstruction">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'images/basketball.jpg' %}" alt="" />
              </div>
              <div class="detail-box">
                <h5>
                  Sports Scholarship
                </h5>
                <p>
                  To support local sport talent and nurture it, we offer basketball scholarships to High school level and tertiary level education.
                </p>
              </div>
            </div>
          </div>
          <div class="item repair">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'images/borehole.jpg' %}" alt="" />
              </div>
              <div class="detail-box">
                <h5>
                  Clean water project
                </h5>
                <p>
                  Access to clean water being a challenge to many , we have the borehole project that has so far sunk several
                    boreholes within Kenya and provided clean water to so many families.
                </p>
              </div>
            </div>
          </div>
          <div class="item residential">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'images/rugby.jpg' %}" alt="" />
              </div>
              <div class="detail-box">
                <h5>
                  Community sports
                </h5>
                <p>
                  We have rugby tournaments basically meant for the youth to reduce unemployment and idleness. It has been so
                    successful that the crime rates in neighbourhoods where the training centers are established have drastically dropped.
                </p>
              </div>
            </div>
          </div>
          <div class="item styling">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'images/school.jpg' %}" alt="" />
              </div>
              <div class="detail-box">
                <h5>
                  Proposed Technical <br>
                    Training Institute
                </h5>
                <p>
                  To handle the rising number of enrolments in the existing TTI , we ought to bring up another training centre to avoid overwhelming the existing one.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end project section -->


  <!-- client section -->
  <section class="client_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Testimonial
        </h2>
      </div>
    </div>
    <div id="customCarousel2" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col-md-10 mx-auto">
                <div class="box">
                  <div class="img-box">
                    <img src="{% static 'images/reformed001.jpg' %}" alt="">
                  </div>
                  <div class="detail-box">
                    <div class="client_info">
                      <div class="client_name">
                        <h5>
                          Grace Mint
                        </h5>
                        <h6>
                          Former addict
                        </h6>
                      </div>
                      <i class="fa fa-quote-left" aria-hidden="true"></i>
                    </div>
                    <p>
                      “I got in a fight with a cop at 16 years old. My first rehab was at 17, got kicked out of it after 10 days, then back in there 3 months later. I had 6 or 7 months sober, maybe even a little bit longer. Then I went back out and drank.
                        “I got sober again when I was 24. During that period of time I had 11 years’ sobriety. Thanks to the Maoiro Rehab Program , I was able to get my life back on track till date”
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-md-10 mx-auto">
                <div class="box">
                  <div class="img-box">
                    <img src="{% static 'images/reformed002.jpg' %}" alt="">
                  </div>
                  <div class="detail-box">
                    <div class="client_info">
                      <div class="client_name">
                        <h5>
                          John Makoro
                        </h5>
                        <h6>
                          Former Addict
                        </h6>
                      </div>
                      <i class="fa fa-quote-left" aria-hidden="true"></i>
                    </div>
                    <p>
                      Nilipomaliza kidato cha nne, nilijihusisha na vijana waliokuwa wanatumia dawa za kulevya.
                        Kwa kuwa ujana ni moshi, sikugundua madhara ya kutumia zile dawa mpaka marafiki wangu wawili
                        walipoaga kufuatia kutumia dawa kupita kiasi. Hapo ndipo nilipoamua kubadilika kwa kujiunga na Maoiro_Foundation
                        walionisaidia kupigana na uraibu. Asanteni sana Maoiro_Foundation.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-md-10 mx-auto">
                <div class="box">
                  <div class="img-box">
                    <img src="{% static 'images/reformed003.jpg' %}" alt="">
                  </div>
                  <div class="detail-box">
                    <div class="client_info">
                      <div class="client_name">
                        <h5>
                          Morojink
                        </h5>
                        <h6>
                          Customer
                        </h6>
                      </div>
                      <i class="fa fa-quote-left" aria-hidden="true"></i>
                    </div>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore
                      et
                      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                      aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                      cillum
                      dolore eu fugia
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ol class="carousel-indicators">
        <li data-target="#customCarousel2" data-slide-to="0" class="active"></li>
        <li data-target="#customCarousel2" data-slide-to="1"></li>
        <li data-target="#customCarousel2" data-slide-to="2"></li>
      </ol>
    </div>
  </section>
  <!-- end client section -->

  <!-- why us section -->

  <section class="why_us_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Our Core Values:
        </h2>
      </div>
      <div class="why_us_container">
        <div class="box">
          <div class="img-box">
            <img src="{% static 'images/w1.png' %}" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Facility setup
            </h5>
            <p>
              When we avail crucial missing facilities to vulnerable communities, we empower dreams, create job opportunities, give hope to the hopeless and so much more
                for the affected people.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="{% static 'images/w2.png' %}" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Always availiable
            </h5>
            <p>
              We have a 24/7 open emergency helpline incase of any emergency. A response team is always on standby for such incidents.
                The helpline is free of charge.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="{% static 'images/w3.png' %}" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Community building
            </h5>
            <p>
              We view a community as the basic unit of a nation. A thriving community is a thriving nation but if a community is non-functional
                then the nation is in a sorry state. Our activities such as community rugby tournaments unites people of all ages, races and other societal
                stereotypes.
            </p>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- end why us section -->

<!-- contact section -->
  <section class="contact_section layout_padding">
    <div class="container-fluid">
      <div class="col-lg-4 col-md-5 offset-md-1">
        <div class="heading_container">
          <h2>
            Contact Us
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-5 offset-md-1">
          <div class="form_container">
            <form action="" method="post" novalidate>
              {% csrf_token %}
                {{ form.as_p }}
              <div>
                <input type="text" placeholder="Your Name" />
              </div>
              <div>
                <input type="text" placeholder="Phone Number" />
              </div>
              <div>
                <input type="email" placeholder="Email" />
              </div>
              <div>
                <input type="text" class="message-box" placeholder="Message" />
              </div>
              <div class="btn_box">
                <button>
                  SEND
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-7 col-md-6 px-0">
          <div class="map_container">
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d31911.291371466763!2d36.9400315!3d-1.22165545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2ske!4v1700408282803!5m2!1sen!2ske" width="800" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->

{% endblock %}