{% extends 'layout.html' %}
{% load static %}

{% block body %}
  <!-- project section -->

  <section class="project_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Projects
        </h2>
      </div>
      <div class="carousel-wrap ">
        <div class="filter_box">
          <h6>
            All Projects
          </h6>
          <nav class="owl-filter-bar">
            <a href="#" class="item active" data-owl-filter="*">All</a>
            <a href="#" class="item" data-owl-filter=".painting">New Rehab Centre</a>
            <a href="#" class="item" data-owl-filter=".reconstruction">Sports sponsorship </a>
            <a href="#" class="item" data-owl-filter=".repair">Clean Water </a>
            <a href="#" class="item" data-owl-filter=".residential">Community Tournaments </a>
            <a href="#" class="item" data-owl-filter=".styling">Proposed TTI </a>
          </nav>
        </div>

        <div class="owl-carousel project_carousel">
          <div class="item painting">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'images/rehab02.jpg' %}" alt="" />
              </div>
              <div class="detail-box">
                <h5>
                  Proposed New Rehab centre
                </h5>
                <p>
                 Due to the expanding numbers of individuals being admitted to our existing rehab facility in Mwiki, we have come up
                    with a proposed new centre to be developed in Utawala.
                </p>
              </div>
            </div>
          </div>
          <div class="item reconstruction">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'images/basketball.jpg' %}" alt="" />
              </div>
              <div class="detail-box">
                <h5>
                  Sports Scholarship
                </h5>
                <p>
                  To support local sport talent and nurture it, we offer basketball scholarships to High school level and tertiary level education.
                </p>
              </div>
            </div>
          </div>
          <div class="item repair">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'images/borehole.jpg' %}" alt="" />>
              </div>
              <div class="detail-box">
                <h5>
                 Clean water project
                </h5>
                <p>
                  Access to clean water being a challenge to many , we have the borehole project that has so far sunk several
                    boreholes within Kenya and provided clean water to so many families.
                </p>
              </div>
            </div>
          </div>
          <div class="item residential">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'images/rugby.jpg' %}" alt="" />
              </div>
              <div class="detail-box">
                <h5>
                  Community sports
                </h5>
                <p>
                   We have rugby tournaments basically meant for the youth to reduce unemployment and idleness. It has been so
                    successful that the crime rates in neighbourhoods where the training centers are established have drastically dropped.
                </p>
              </div>
            </div>
          </div>
          <div class="item styling">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'images/school.jpg' %}" alt="" />
              </div>
              <div class="detail-box">
                <h5>
                   Proposed Technical <br>
                    Training Institute
                </h5>
                <p>
                   To handle the rising number of enrolments in the existing TTI , we ought to bring up another training centre to avoid overwhelming the existing one.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end project section -->
{% endblock %}