{% extends 'layout.html' %}
{% load static %}

{% block body %}
  <!-- service section -->

  <section class="service_section layout_padding">
    <div class="service_container">
      <div class="container ">
        <div class="heading_container">
          <h2>
            Services
          </h2>
          <p>
            Maoiro Foundation has over the years offered these services to different communities across Kenya:
          </p>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/borehole.jpg' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Clean Water
                </h5>
                <p>
                  We have sunk several boreholes in localities that lacked clean water as an essential basic need.
                    This project has impacted alot of families and in the process, also created several jobs for the locals.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/youthhands.jpg' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Youth Engagement
                </h5>
                <p>
                  We often host youth bootcamps to listen to the issues they face, offer counselling to them and also advice
                    on potential business opportunities they might venture in so as to earn a living for themselves.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/hero_1_no-text.jpg' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Quality Education
                </h5>
                <p>
                  We have setup several schools within the localities that host us. Quality education is a fundamental
                    thing if we are to bring positive change to a community or a country at large.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/rehab02.jpg' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Proposed additional Rehab Center
                </h5>
                <p>
                  To cope with growing number of drug addicts in our already established facilities, we ought to setup a new center
                    to avoid the available facilities being overwhelmed.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end service section -->

{% endblock %}