{% extends 'layout.html' %}
{% load static %}

{% block body %}

<!-- service section -->

  <section class="service_section layout_padding">
    <div class="service_container">
      <div class="container ">
        <div class="heading_container">
          <h2>
            Counsellors
          </h2>
          <p>
            We have several counselling and support staff. Below are some of our most distinguished and established tutors:
          </p>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/trainer002.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Brian Davis
                </h5>
                <p>
                  He is one of our earliest counsellors .We have been through the development journey with him since the beginning.
                    He is a PHD holder in Social Affairs from the University of Michigan.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/person003.jpg' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                 Karen Golding
                </h5>
                <p>
                  This astonishing and lovely young lady is a Masters Degree holder from the University of Nairobi.
                    Her service and dedication is what inspires most patients in our Rehab facilities.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/trainer003.jpg' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Grace Leah
                </h5>
                <p>
                  She is a beneficiary of our school programs and joined the counselling team after she got her degree from Karatina University
                    following a sports scholarship.
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/trainer004.jpg' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Chelsea Gates
                </h5>
                <p>
                  The lovely young lady has been a member of our counselling team since 2019. Her kind-heartedness
                    among many of her attributes keep the patients going.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end service section -->


<!-- client section -->
  <section class="client_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Testimonial
        </h2>
      </div>
    </div>
    <div id="customCarousel2" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col-md-10 mx-auto">
                <div class="box">
                  <div class="img-box">
                    <img src="{% static 'images/reformed001.jpg' %}" alt="">
                  </div>
                  <div class="detail-box">
                    <div class="client_info">
                      <div class="client_name">
                        <h5>
                          Grace Mint
                        </h5>
                        <h6>
                          Former addict
                        </h6>
                      </div>
                      <i class="fa fa-quote-left" aria-hidden="true"></i>
                    </div>
                    <p>
                      “I got in a fight with a cop at 16 years old. My first rehab was at 17, got kicked out of it after 10 days, then back in there 3 months later. I had 6 or 7 months sober, maybe even a little bit longer. Then I went back out and drank.
                        “I got sober again when I was 24. During that period of time I had 11 years’ sobriety. Thanks to the Maoiro Rehab Program , I was able to get my life back on track till date”
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-md-10 mx-auto">
                <div class="box">
                  <div class="img-box">
                    <img src="{% static 'images/reformed002.jpg' %}" alt="">
                  </div>
                  <div class="detail-box">
                    <div class="client_info">
                      <div class="client_name">
                        <h5>
                          John Makoro
                        </h5>
                        <h6>
                          Former Addict
                        </h6>
                      </div>
                      <i class="fa fa-quote-left" aria-hidden="true"></i>
                    </div>
                    <p>
                      Nilipomaliza kidato cha nne, nilijihusisha na vijana waliokuwa wanatumia dawa za kulevya.
                        Kwa kuwa ujana ni moshi, sikugundua madhara ya kutumia zile dawa mpaka marafiki wangu wawili
                        walipoaga kufuatia kutumia dawa kupita kiasi. Hapo ndipo nilipoamua kubadilika kwa kujiunga na Maoiro_Foundation
                        walionisaidia kupigana na uraibu. Asanteni sana Maoiro_Foundation.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-md-10 mx-auto">
                <div class="box">
                  <div class="img-box">
                    <img src="{% static 'images/reformed003.jpg' %}" alt="">
                  </div>
                  <div class="detail-box">
                    <div class="client_info">
                      <div class="client_name">
                        <h5>
                          Bocho Mambling
                        </h5>
                        <h6>
                          Former Addict
                        </h6>
                      </div>
                      <i class="fa fa-quote-left" aria-hidden="true"></i>
                    </div>
                    <p>
                      I started using drugs back in primary school. We had family issues at home and it made me so depressed
                        as I wondered why our family was not as complete as others in our neighbourhood. My parents were always
                        not around and so they did not notice my habits. I attended one of Maoiro_Foundation's youth bootcamp and I then
                        decided to come clean.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ol class="carousel-indicators">
        <li data-target="#customCarousel2" data-slide-to="0" class="active"></li>
        <li data-target="#customCarousel2" data-slide-to="1"></li>
        <li data-target="#customCarousel2" data-slide-to="2"></li>
      </ol>
    </div>
  </section>
  <!-- end client section -->

{% endblock %}
